extends layout

block content
  div.page-header
    h1= title
    h5
      i.fa.fa-map-marker.fa-lg
      span= location
    h5
      i.fa.fa-calendar.fa-lg
      span= `${startAt} - ${endAt}`
    h5
      i.fa.fa-user.fa-lg
      span= `${author.firstName} ${author.lastName}`
  div.row
    div.col-sm-3
      h5
        i.fa.fa-users.fa-lg
        span= `${attendingUsersNames.length} attending`
      each attendingUserName in attendingUsersNames
        p= attendingUserName
    div.col-sm-9
      p= description
